html {
  font-size: 62.5%; // 1rem = 10px
}

body {
  font-size: 1.6rem; // デフォルト16px
  padding: 0;
  margin: 0;
  font-family: 'Noto Sans JP', "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  line-height: 1.5;
  color: #000;
  background: #fff;
}

h1,
h2,
h3,
h4,
h5,
div,
p,
ul,
li {
  padding: 0;
  margin: 0;
}

a {
  color: webkit-link;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

ol {
  list-style-type: none;
}

input,
textarea {
  border: none;
  outline: 0;
}

button {
  background: transparent;
  border: none;
  outline: 0;

  &:hover {
    &:not(:disabled) {
      cursor: pointer;
      opacity: 0.8;
    }
  }
}

img,
svg {
  vertical-align: bottom;
}